<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to shivraj.com</h1>
    
    <p>Thanks for joining and have a great day!</p>

		<p>Please email in our site for positive feedback</p>
  </body>
</html>
